/*style for  Error Messages  */
.controlStyle.ng-invalid.ng-touched{
    border: 2px solid red;
}
/*style for  Error Messages  */

.container{
    width: 500px;
    border: 1px solid rgb(124, 122, 122);
    padding: 0;
    box-shadow: 5px 5px 10px  rgb(81, 80, 80) , -5px 0 10px  rgb(81, 80, 80);

}
h1{
    background-color: #33b5e5;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
form{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

small{
    color: red;
}
input{
    height: 40px;
    width: 100%;
    border: 1px solid rgb(137, 225, 229);
}