
<!--Reactive Form-->
<div class="container">
  <h1>Edit User</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
        <div>
            <label for="idNum">ID</label>
            <input type="number" id="idNum" formControlName ="empId" name="empId" [(ngModel)]="user.empId">
          </div>

        <div>
          <label for="empName"> Name</label>
           <!-- Error Messages -->
          <div *ngIf="myValues['empName'].invalid && myValues['empName'].touched" >
            <small *ngIf="myValues['empName'].errors?.['required']">*required</small>
            <small *ngIf="myValues['empName'].errors?.['minlength']">*minlength is {{myValues['empName'].errors?.['minlength'].requiredLength}}--- you have actual length {{myValues['empName'].errors?.['minlength'].actualLength}} </small>
          </div>
           <!-- Error Messages -->
          <input type="text" class="controlStyle" id="empName" formControlName ="empName" name="empName" [(ngModel)]="user.empName">
        </div>
        
          <div>
            <label for="email">Email</label>
             <!-- Error Messages -->
            <div *ngIf="myValues['empEmail'].invalid && myValues['empEmail'].touched" >
              <small *ngIf="myValues['empEmail'].errors?.['required']">*required</small>
              <small *ngIf="myValues['empEmail'].errors?.['email']">*PLZ enter valid email </small>
            </div>
             <!-- Error Messages -->
            <input type="email" class="controlStyle" id="email" formControlName ="empEmail"  name="empEmail" [(ngModel)]="user.empEmail">
          </div>

          <div>
            <label for="empAddress"> Address</label>
             <!-- Error Messages -->
            <div  *ngIf="myValues['empAddress'].invalid && myValues['empAddress'].touched" >
              <small *ngIf="myValues['empAddress'].errors?.['required']">*required</small>
            </div>
             <!-- Error Messages -->
            <input type="text" class="controlStyle"  id="empAddress" formControlName ="empAddress" name="empAddress" [(ngModel)]="user.empAddress">
          </div>

          <div>
            <label for="phoneNum">Phone</label>
             <!-- Error Messages -->
            <div *ngIf="myValues['empPhone'].invalid && myValues['empPhone'].touched" >
              <small *ngIf="myValues['empPhone'].errors?.['required']">*required</small>
              <small *ngIf="myValues['empPhone'].errors?.['pattern']">*your phone must be 11 digit & start with 010 or 011 or 012 </small>
            </div>
             <!-- Error Messages -->
            <input type="text" class="controlStyle" pattern="^(01)(0|1|2)\d{8}$" id="phoneNum"  formControlName ="empPhone" name="empPhone" [(ngModel)]="user.empPhone">
          </div>

        <button type="submit" mdbBtn color="info" [disabled]="contactForm.invalid">Save</button>
      </form>
</div>
<!--Reactive Form-->