<div class="divTable">
  <div class="divAddAndNotifiction">
    <!--BTN add and modal to make popUp-->
    <app-add-page></app-add-page>
    <!--BTN add and modal to make popUp-->

    <!--Notification-->
    <div class="notificationDiv">
      <img  src="../assets/images/3.png">
      <p >{{notificationDelete}}</p>
    </div>
    <!--Notification-->
  </div>

<table >
    <thead>
      <tr>
        <th>
          <!--Btn Check All-->
          <input type="checkbox"  id="check"  [(ngModel)]="checked">
          <!--Btn Check All-->
        </th>
        <th >ID</th>
        <th >Name</th>
        <th >Email</th>
        <th >Address</th>
        <th >Phone</th>
        <th  colspan="3">actions</th>
      </tr>
    </thead>
    <tbody>
      <!--forLoop ON API-->
      <tr *ngFor='let user of users; let i = index'>
        <td>
          <!--to do Check All-->      
            <div *ngIf="checked ; else elseBlock">
              <input type="checkbox"  id="check" [(ngModel)]="checked">
            </div>
            
            <ng-template #elseBlock>
              <input type="checkbox"  id="checkh" [(ngModel)]="checked">
            </ng-template>
            <!--to do Check All-->
        </td>
        <th>{{user.empId}}</th>
        <td>{{user.empName}}</td>
        <td>{{user.empEmail}}</td>
        <td>{{user.empAddress}}</td>
        <td>{{user.empPhone}}</td>
        
        <td>
          <!--Btn View-->
            <a routerLink="/users/{{user.empId}}">
                <button type="button" mdbBtn color="info" class="waves-effect mb-4 btnVDU">view</button>
            </a>
          <!--Btn View-->
        </td>
        <td>
           <!--BTN Delete to Open modal delete-->
           <a
            type="button"
            mdbBtn
            color="danger"
            class="waves-effect mb-4 btnVDU"
            (click)="frameDelete.show()"
            mdbWavesEffect
            >Delete
          </a>
          <!--BTN Delete to Open modal delete-->

          <!--Modal delete-->
          <div 
          mdbModal
          #frameDelete="mdbModal"
          class="modal fade top"
          id="frameModalTop"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel"
          aria-hidden="true"
          style="overflow-y: auto"
          >
          <!--Dialog-->
          <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
              <!--Header-->
              <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">
                  Delete Employee
                </h4>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="frameDelete.hide()"
                >
                  <span aria-hidden="true" class="white-text">&times;</span>
                </button>
              </div>
              <!--Body-->
              <div class="modal-body">
                Are you sure delete this
            </div>
              <!--/.Body-->
              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <button
                  type="button"
                  mdbBtn
                  color="info"
                  class="waves-effect"
                  mdbWavesEffect
                  (click)="deleteuser(user.empId,i)"
                >
                  yes
                </button>
              </div>
            </div>
            <!--/.Content-->
          </div>
          <!--/.Dialog-->
          </div>
          <!--/.Modal delete-->
      </td>
      <td>
        <!--Btn Update-->
        <a routerLink="/users/updatePage/{{user.empId}}">
          <button type="button"  mdbBtn color="info" class="waves-effect mb-4 btnVDU">Update</button>
        </a>
        <!--Btn Update-->
    </td>
      </tr>
    </tbody>
  </table>
</div>